/venv/
/db.sqlite3
fuzzy_matching.txt
/npedata.geojson
/core/.env
.env
/admin_api/data/*.xlsx
/admin_api/gpt_data_processor.py
/admin_interface/templates/accounts/login.html.bck
/admin_interface/templates/home/register.html
/admin_interface/templates/home/icons.html
/admin_interface/templates/home/notifications.html
/admin_interface/templates/home/rtl.html
/admin_interface/templates/home/map.html
/admin_interface/templates/home/tables.html
/admin_interface/templates/home/typography.html
/admin_interface/templates/home/user.html
/admin_interface/templates/includes/navigation-rtl.html
/admin_interface/templates/includes/sidebar.html.bck
/admin_interface/templates/includes/sidebar-rtl.html
/admin_interface/templates/layouts/base-rtl.html
/admin_interface/static/assets/demo/
/admin_interface/static/assets/node_modules/
__pycache__/
/.idea/
/static/
/admin_api/data/npedata.geojson
