
    <div class="sidebar" data="blue" style="margin-top: 60px !important">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
      -->
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li><a href="javascript:void(0)" style="text-align: center; font-size: large">{{ user.first_name }} {{ user.last_name }}</a></li>
                <li class="{% if 'index' in segment %} active {% endif %} ">
                    <a href="/">
                        <i class="tim-icons icon-components"></i>
                        <p>Inici</p>
                    </a>
                </li>
                <li class="{% if 'establiments' in segment %} active {% endif %}">
                    <a href="/establiments/llistat">
                        <i class="tim-icons icon-bullet-list-67"></i>
                        <p>Llistar establiments</p>
                    </a>
                </li>
                <li class="{% if 'establiments' in segment %} active {% endif %}">
                    <a href="/establiments/afegir">
                        <i class="tim-icons icon-simple-add"></i>
                        <p>Afegir establiment</p>
                    </a>
                </li>
                <li class="">
                    <a href="/establiments/exportar">
                       <i class="tim-icons icon-cloud-download-93"></i>
                        <p>Exportar les dades</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'login' %}">
                        <i class="tim-icons icon-button-power"></i>
                        <p>Tancar la sessió</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
